.nlink:hover{
    color : steelblue !important;
    cursor: pointer;
}
.roll{
    transform: translateY(0) !important;
    opacity: 1 !important;
    display: inline-block !important;
}
.burger div{
    transition: all 0.3s;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-7px,8px);
}
.toggle .line2{
    opacity: 0 !important;
}
.toggle .line3{
    transform: rotate(45deg) translate(-7px,-8px);
}