table{
    display: block;
    width: 98%;
    text-align : center;
    margin : 0 auto;
    overflow-x: scroll;
}
table, th, td{
    background-color: #1e2127;
    color : white;
    border : 1px solid white;
    border-collapse: collapse;
    padding : 3px;
}
.active{
    border : 2px solid white;
}
.activeSub{
    border : 4px solid white;
}
.cvrj{
    background-color : rgba(0,0,0,0.45) !important;
}